.picture {
  position: relative;
  display: inline-block;
  background-color: #1da1f2;
}
.picture:before,
.picture:after {
  content: "";
  display: block;
  background-color: #1da1f2;
  width: 8px;
  height: 8px;
  position: absolute;
  transition: all 0.15s ease;
}
.picture:before {
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(-45deg) scale(0);
}
.picture:after {
  right: 0;
  bottom: 0;
  transform-origin: bottom right;
  transform: rotate(45deg) scale(0);
}
.picture__thumbnail {
  display: block;
  transform: translate(0, 0);
  transition: all 0.15s ease;
  position: relative;
  z-index: 10;
}
.picture:hover .picture__thumbnail {
  transform: translate(6px, -6px);
}
.picture:hover:before {
  transform: rotate(-45deg) scale(1);
}
.picture:hover:after {
  transform: rotate(45deg) scale(1);
}
